.header{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.header {
    margin-bottom: 20px;
    text-align: center;
    color: #54087d;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: #54087d;
}
.cell {
    border: 1px solid #00bfff;
    padding: 20px;
    text-align: center;
}